---
import Icon from "./Icon.astro";
const today = new Date();
const webStartDate = new Date(2021, 10, 1);
const webDifYears = (today - webStartDate) / (1000 * 60 * 60 * 24 * 365.25);
const AIstartDate = new Date(2022, 5, 1);
const AIdiffMonths =
	(today.getFullYear() - AIstartDate.getFullYear()) * 12 +
	(today.getMonth() - AIstartDate.getMonth());
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon
			icon="terminal-window"
			color="var(--accent-regular)"
			size="2.5rem"
			gradient
		/>
		<h2>Full Stack</h2>
		<p>
			Over {webDifYears.toFixed(1)} year experience in fullstack developer (ReactJS/Golang)
		</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="trophy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Artificial Intelligent</h2>
		<p>
			{AIdiffMonths} months experience in AI development. Build and deploy Machine
			learning, Deeplearning model by Python library/framework
		</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon
			icon="strategy"
			color="var(--accent-regular)"
			size="2.5rem"
			gradient
		/>
		<h2>Strategy-Minded</h2>
		<p>Effective and flexible implementation from idea to reality</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
